.privacyPolicyHeading h1{
    font-size: 35px;
  }
  .breadcrumbHead {
    font-size: 35px;
    font-weight: 700;
    color: #333;
    
  }
  
  .privacyPolicyContainer{
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  }
  
  .breadcrumb ul {
      display: flex;
      list-style: none;
      padding: 0;
      margin-bottom: 0;
      /* margin-top: 50px; */
      margin: 30px 0;
      font-size: 14px;
    }
  
    .privacyPolicyContent{
      padding: 20px 100px;
      text-align: justify;
      line-height: 1.8;
      font-size: 14px;
    }
    .privacyPolicyContentItem ul{
      padding: 0 0 0 20px;
    }
  
    @media (max-width: 1024px) {
      .privacyPolicyContent{
        padding: 10px 50px;
      }
    }
  
    @media (max-width: 768px) {
      .privacyPolicyContent{
        padding: 0;
      }
      .privacyPolicyHeading h1{
        font-size: 20px;
      }
      .breadcrumb ul{
        font-size: 12px;
        margin: 15px 0;
      }
      .breadcrumb ul li{
        font-size: 12px;
      }
      .privacyPolicyContentItem p {
        font-size: 14px;
      }
      .privacyPolicyContainer{
        padding: 10px;
      }
    }