.pageHeader {
  position: sticky;
  top: 0;
  z-index: 1000;
  transition: box-shadow 0.35s ease;
}
:global(.stick) .pageHeader {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.headTop {
  overflow: hidden;
  transform: translateY(0);
  opacity: 1;
  transition:
    transform 0.35s ease,
    opacity 0.35s ease;
  will-change: transform;
}
:global(.stick) .headTop {
  transform: translateY(-100%);
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

.headTopLinks a {
  color: #fff;
  & svg {
    width: 1.4rem;
    aspect-ratio: 1;
    fill: currentColor;
    opacity: 0.8;
  }
  &:hover {
    color: var(--primary);
  }
}

.pgLogo {
  width: 200px;
  max-width: 100%;
  height: auto;
  display: block;
  transition: width 0.5s ease;
  cursor: pointer;
}

.pgLogoImg {
  width: 100%;
  height: auto;
  display: block;
}

.headBtn {
  height: 2rem;
  aspect-ratio: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: 0;
  background: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  position: relative;
  & svg {
    width: 50%;
    aspect-ratio: 1;
    display: block;
  }
  & .badge {
    position: absolute;
    bottom: 50%;
    left: 50%;
    color: #000;
    height: 22px;
    width: 22px;
    border-radius: 50%;
    font-weight: 600;
    font-size: 12px;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* line-height: 1; */
  }
}

.loginBtn.headBtn {
  border-radius: 50rem;
}

.navigation {
  position: fixed;
}
.siteMenu {
  color: #111;
  & a {
    padding: 0.75rem 1rem;
    display: block;
  }
}

.searchWrapper {
  width: 100%;
  max-height: calc(100vh - 50px);
  background: #f3f3f3;
  box-shadow: 0 120px 100px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 100%;
  left: 0;
  overflow: auto;
  &:before {
    content: "";
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
    pointer-events: none;
    backdrop-filter: blur(5px);
    opacity: 0;
    transition: all 0.2s ease;
  }
  &.show:before {
    opacity: 1;
  }
}

.searchContainer {
  max-width: 800px;
  position: relative;
  z-index: 5;
  background: #f3f3f3;
}
.searchClose {
  transform: scale(0.8);
}

.searchBarWrap {
  height: 3.2rem;
  overflow: hidden;
  & .searchBar {
    border: 1px solid #f0f0f0;
    font-size: 0.9rem;
    font-weight: 500;
    padding: 0 0.25rem 0 3rem;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: 1rem center;
    background-size: 1.5rem auto;
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'><path d='M15.9999 24.7272C21.6232 24.7272 26.1818 20.1686 26.1818 14.5453C26.1818 8.92208 21.6232 4.36353 15.9999 4.36353C10.3767 4.36353 5.81812 8.92208 5.81812 14.5453C5.81812 20.1686 10.3767 24.7272 15.9999 24.7272Z' fill='none' stroke='%231A1A1A' stroke-width='2'/><path d='M23.2725 21.8181L27.6361 26.1818' stroke='%231A1A1A' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/></svg>");
    &::placeholder {
      opacity: 1;
    }
    &::-webkit-search-cancel-button {
      width: 20px;
      height: 20px;
      -webkit-appearance: none;
      appearance: none;
      background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'><path d='M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8z'/></svg>");
      background-size: cover;
    }
    &:focus,
    &:focus-visible {
      border: 1px solid var(--primary);
      background-color: #fff;
      outline: none;
    }
  }
}

.suggestTitle {
  font-size: 0.8rem;
  font-weight: 600;
}
.suggestTag {
  display: inline-block;
  background: #fcfcfc;
  border: 1px solid #eee;
  border-radius: 50rem;
  padding: 0.3rem 1.3rem;
  font-size: 0.65rem;
  font-weight: 500;
  white-space: nowrap;
  transition: all 0.3s ease;
  &:hover {
    background: #111;
    color: var(--primary);
  }
}

@media (min-width: 576px) {
  .headBtn,
  .loginBtn.headBtn {
    height: 2.5rem;
  }
  
  .loginBtn.headBtn {
    width: auto;
    aspect-ratio: unset;
    display: inline-flex;
    align-items: center;
    padding: 0.25rem 0.75rem;
    background: var(--primary);
    font-weight: 500;
    transition: all 0.3s ease;
    border: 1px solid #000;
    position: relative;
    overflow: hidden;
    z-index: 1;
    &:hover {
      background: #000;
      color: var(--primary);
    }
    & svg {
      width: 50%;
      aspect-ratio: 1;
      display: block;
    }
  }
  .suggestTag {
    font-size: 0.8rem;
  }
  .searchBar {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  .pgLogo {
    width: 20vw;
  }
  :global(.stick) .pgLogo {
    width: 10vw;
  }

  .headBtn,
  .loginBtn.headBtn {
    height: 2.5vw;
  }

  .navigation {
    position: unset;
  }
  .siteMenu {
    & li {
      padding: 0 0.5vw;
    }
    & a {
      padding: 0.75rem 0.833vw;
      position: relative;
      z-index: 1;
    }
    & > li > a:before {
      content: "";
      width: 100%;
      height: 300%;
      display: none;
      position: absolute;
      top: -100%;
      left: 0;
      z-index: -1;
    }
    & > li:hover > a:before {
      display: block;
    }
  }

  .subMenu {
    width: 100%;
    height: 0;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #f3f3f3;
    box-shadow: 0 120px 100px rgba(0, 0, 0, 0.5);
    visibility: hidden;
    z-index: -50;
    li:hover & {
      display: block;
      visibility: visible;
      height: auto;
      z-index: 10;
    }
    & li a {
      display: block;
      padding: 0.75rem 0.5rem;
      border-radius: 3px;
      overflow: hidden;
      transition: all 0.3s ease;
    }
    & li a:hover {
      background: #111;
      color: var(--primary);
      padding-left: 1rem;
    }
  }
}

@media (min-width: 992px) {
  .pageHeader {
    font-size: clamp(0.75rem, calc(0.333rem + 0.556vw), 1rem);
  }

  .headTopLinks a {
    & svg {
      width: 1.17vw;
    }
  }
}

@media (max-width: 1199.98px) {
  .navigation {
    height: 100vh;
    padding: 0;
    box-shadow: -30px 0 30px rgba(0, 0, 0, 0.2);
    border-radius: 0.5rem 0 0 0.5rem;
  }
  .siteMenu {
    overflow: auto;
    height: 100%;
    padding: 45px 0 40px;
    & > li {
      padding: 0.5vw;
      border-bottom: 1px solid #eee;
    }
    & > li > a {
      text-transform: uppercase;
      font-weight: 600;
      padding: 0.75rem 0.833vw;
      position: relative;
      z-index: 1;
    }
    & > li > a[role="button"]:after {
      content: "";
      width: 0.8rem;
      aspect-ratio: 1;
      display: block;
      position: absolute;
      right: 0.5rem;
      top: 0;
      bottom: 0;
      margin: auto;
      background: url("data:image/svg+xml,<svg viewBox='0 0 7 12' xmlns='http://www.w3.org/2000/svg'><path d='M4.94626 6.00001L0.873012 1.92701C0.734678 1.78851 0.663845 1.61443 0.660512 1.40476C0.657345 1.19526 0.728178 1.01801 0.873012 0.873012C1.01801 0.728178 1.19368 0.655762 1.40001 0.655762C1.60634 0.655762 1.78201 0.728178 1.92701 0.873012L6.42126 5.36726C6.51476 5.46093 6.58076 5.55968 6.61926 5.66351C6.65776 5.76735 6.67701 5.87951 6.67701 6.00001C6.67701 6.12051 6.65776 6.23268 6.61926 6.33651C6.58076 6.44035 6.51476 6.5391 6.42126 6.63276L1.92701 11.127C1.78851 11.2653 1.61443 11.3362 1.40476 11.3395C1.19526 11.3427 1.01801 11.2718 0.873012 11.127C0.728178 10.982 0.655762 10.8063 0.655762 10.6C0.655762 10.3937 0.728178 10.218 0.873012 10.073L4.94626 6.00001Z' fill='%231A1A1A'/></svg>")
        no-repeat center;
      background-size: contain;
      transition: all 0.5s ease;
      transform: rotate(90deg);
    }
    & > li > a[aria-expanded="true"]:after {
      transform: rotate(-90deg);
    }
  }
  .subMenu {
    width: 100%;
    padding: 1rem;
    background: #fafafa;
    & li a {
      display: block;
      padding: 0.75rem 0.5rem;
      border-radius: 3px;
      overflow: hidden;
      transition: all 0.3s ease;
    }
    & li a:hover {
      background: #111;
      color: var(--primary);
      padding-left: 1rem;
    }
  }

  .siteMenu > li > a[role="button"] {
    padding-right: 1rem;
    position: relative;
  }

  .pgLogo {
    width: 200px;
  }
}

@media (max-width: 575.98px) {
  .pgLogo {
    width: 150px;
  }
  .headTop {
    font-size: 0.75rem;
    text-align: center;
  }
  .offcanvas-xl {
    max-width: 90%;
  }
  .siteMenu {
    & > li {
      padding: 0.25rem 0.5rem;
    }
  }
}
